<section id="apps">
    {% assign app_groups = site.data.apps | where: "published", true %}
    {% for group in app_groups %}
        <div class="app-group">
            <h2>{{ group.name }}</h2>
            {% if group.description %}
                {{ group.description | markdownify }}
            {% endif %}
            <div class="app-grid">
                {% assign apps = group.apps | where: "published", true %}
                {% for app in apps %}
                    <div class="app">
                        <picture class="screenshot">
                            {% if app.screenshot_webp.default %}
                            <source type="image/webp" srcset="{% if app.screenshot_webp.sizes %}{% for image in app.screenshot_webp.sizes %}{{ image.path }} {{ image.width }}w, {% endfor %}{% endif %}{{ app.screenshot_webp.default }}" sizes="(min-width: 820px) 360px, (min-width: 600px) calc(42.5vw + 20px), calc(100vw - 30px)">
                            {% endif %}
                            <source type="image/png" srcset="{{ app.screenshot }}">
                            <img alt="{{ app.name }} App" title="{{ app.name }} App" src="{{ app.screenshot }}">
                        </picture>

                        <div class="name">
                            <a href="{% if app.app_store %}{{ app.app_store }}{% else %}{{ app.website }}{% endif %}"><img
                                        alt="{{ app.name }} App Icon" title="{{ app.name }} App Icon" class="icon" src="{{ app.icon }}"></a>
                            <h3>{{ app.name }}</h3>
                        </div>

                        <p>{{ app.subtitle }}</p>

                        <div class="buttons">
                            {% if app.app_store %}
                                <a href="{{ app.app_store }}"><img
                                            alt="Download {{ app.name }} on the App Store"
                                            title="Download {{ app.name }} on the App Store"
                                            src="/assets/apps/download_on_app_store.svg"></a>
                            {% endif %}
                            <a class="button" href="{{ app.website }}">Learn more ›</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
