<section id="apps">
    {% assign app_groups = site.data.apps | where: "published", true %}
    {% for group in app_groups %}
        <div class="app-group">
            <h2>{{ group.name }}</h2>
            {% if group.description %}
                {{ group.description | markdownify }}
            {% endif %}
            <div class="app-grid">
                {% assign apps = group.apps | where: "published", true %}
                {% for app in apps %}
                    <div class="app">
                        <img alt="{{ app.name }} App" title="{{ app.name }} App" class="screenshot" src="{{ app.screenshot }}">

                        <div class="name">
                            <a href="{% if app.app_store %}{{ app.app_store }}{% else %}{{ app.website }}{% endif %}"><img
                                        alt="{{ app.name }} App Icon" title="{{ app.name }} App Icon" class="icon" src="{{ app.icon }}"></a>
                            <h3>{{ app.name }}</h3>
                        </div>

                        <p>{{ app.subtitle }}</p>

                        <div class="buttons">
                            {% if app.app_store %}
                                <a href="{{ app.app_store }}"><img
                                            alt="Download {{ app.name }} on the App Store"
                                            title="Download {{ app.name }} on the App Store"
                                            src="/assets/apps/download_on_app_store.svg"></a>
                            {% endif %}
                            <a class="button" href="{{ app.website }}">Learn more ›</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
