<div class="footer-border">
    <div class="wrapper">
        <div class="site-footer-inner">
            <span class="icon">
                <object data="{{ '/assets/snail.svg' | relative_url }}" style="width: 50px; height: 20px"
                    type="image/svg+xml"></object>
            </span>
            <span class="details">
                Snailed It Development Ltd (Company No. 13620216) is registered in England and Wales at <span class="no-break">7
                    Bell Yard, London, WC2A 2JR.</span>
            </span>
        </div>
    </div>