<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {%- seo -%}
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/snail.svg' }}" rel='shortcut icon'/>
    <link rel="mask-icon" href="{{ '/assets/snail.svg' }}" color="white">
    <link rel="icon" href="/favicon.ico" sizes="32x32" >
    <link rel="icon" href="/assets/snail.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://snailedit.dev/cdn-cgi/image/width=180,height=180/https://assets.snailedit.dev/snail.png">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></noscript>
    <script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}" async=""></script>
    <script src="https://cdn.usefathom.com/script.js" data-site="DEOVFFLI" defer data-cfasync="false"></script>
    <!-- / Fathom -->
    {%- feed_meta -%}

    {%- include custom-head.html -%}

</head>