<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {%- seo -%}
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/snail.svg' }}" rel='shortcut icon'/>
    <link rel="icon" type="image/x-icon" href="/assets/snail.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}" async=""></script>
    {%- feed_meta -%}

    {%- include custom-head.html -%}

</head>