.page-content {
  padding-top: $nav-bar-height * 1.1;
  margin-top: 1em;
}

.title-text {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.625rem;
  @include media-query($on-palm) {
    font-size: 5vw;
  }
}

.feature-content {
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;

    h1 {
      margin: 10px 0 30px 0;
      font-size: 4em;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
}

.vertical-padding {
  padding-top: 5em;
}

section:not(:last-of-type) {
  margin-bottom: 30px;
}

.app-group {
  margin-bottom: 2em;

  .app-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;

    @media only screen and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .app {
      .buttons img {
        margin-right: 10px;
      }

      .name {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 60px 1fr;
        padding-top: 1em;

        h3 {
          font-size: 1.5em;
          line-height: 50px;
        }

        .note {
          margin-top: 10px;
          opacity: 0.7;
        }
      }

      img {
        &.icon {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          height: 50px;
          width: 50px;
        }

        &.screenshot {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.site-header {
  border-top: 0px;
  border-bottom: 0px;
  background-color: $lm-brand-color;
  @media (prefers-color-scheme: dark) {
    background-color: $dm-brand-color !important;
  }
  max-height: $nav-bar-height;
  min-height: $nav-bar-height;

  .site-title,
  .page-link,
  a {
    color: black;

    &:hover {
      text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  // Positioning context for the mobile navigation icon
  position: fixed;
  top: 0;
  width: 100%;
}

figure {
    text-align: center;
    figcaption {
        margin-top: 0.5em;
    }
}

.press {
    .combined_snails img {
        background-color: #eee;
        padding: 1em;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1em;
        @media (prefers-color-scheme: dark) {
            background-color: #222;
        }
    }
    .press-apps {
        .app {
            .name {
                display: flex;
                grid-auto-flow: row;
                grid-column-gap: 10px;
                grid-template-columns: 60px 1fr;

                h3 {
                    font-size: 1.5em;
                    line-height: 50px;
                }

                img {
                    &.icon {
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        height: 50px;
                        width: 50px;
                    }
                }
            }

            &:not(:first-of-type) {
                margin-top: 3em;
            }
        }
    }
}

.portrait img {
    margin-left: auto;
    margin-right: auto;
    max-height: 30em;
}

.no-js img.lazyload {
  display: none;
}