$on-widescreen: 1300px !default;
$on-xlarge: $on-widescreen !default;

$snail-brand-color: rgb(76, 34, 137);
$dm-brand-color: $snail-brand-color;
$lm-brand-color: lighten($snail-brand-color, 40%);


$nav-bar-height: $spacing-unit * 1.865;