---
layout: framework
banner: 'default'
---

<style>

  .page-content {
    padding-top: 30px;
  }

  .people {
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
  }

  .people li {
    /*font-size:  1.2rem;*/
    text-align: center;
  }

  #apps {
    margin-bottom: 30px;
  }

  .app-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .app img.screenshot {
    margin-bottom: 30px;
  }

  .app .name {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 10px;
  }

  .app .name img.icon {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .app .name h3 {
    line-height: 50px;
    font-size: 1.5em;
  }

  .app .buttons img {
    margin-right: 10px;
  }

  .app .note {
    margin-top: 10px;
    opacity: 0.7;
  }

  @media only screen and (min-width: 600px) {
    .people {
      grid-template-columns: repeat(8, 1fr);
    }
    .app-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }



</style>

{% include app.html %}

<section id="about">

  <h2>About Us</h2>

  <p>Snailed It is an independent development company formed by a group of friends from across the globe.  Spanning three countries and five timezones, we came together to make software that we want to see and use in the world, working to provide solutions that help people in their day-to-day lives.  At Snailed It, we believe that software doesn’t work unless it is both powerful and well-designed, so we aim to make products that our users enjoy using.</p>

  <ul class="people">

    {% for person in site.data.people %}
      <li><i class="fa fa-fw {{ person.icon }}"></i> {{ person.name }}</li>
    {% endfor %}

  </ul>

</section>

