---
layout: framework
banner: 'default'
---

<style>

  .page-content {
    padding-top: 30px;
  }

  .people {
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
  }

  .people li {
    /*font-size:  1.2rem;*/
    text-align: center;
  }

  #apps {
    margin-bottom: 30px;
  }

  .app-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .app img.screenshot {
    margin-bottom: 30px;
  }

  .app .name {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 10px;
  }

  .app .name img.icon {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .app .name h3 {
    line-height: 50px;
    font-size: 1.5em;
  }

  .app .buttons img {
    margin-right: 10px;
  }

  .app .note {
    margin-top: 10px;
    opacity: 0.7;
  }

  @media only screen and (min-width: 600px) {
    .people {
      grid-template-columns: repeat(8, 1fr);
    }
    .app-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }



</style>

<section id="apps">

  <h2>Our Apps</h2>

  <div class="app-grid">

    <div class="app">

      <img class="screenshot" src="/assets/whenworks.jpeg" alt="When Works app">

      <div class="name">
        <img class="icon" src="/assets/whenworks-icon.webp" alt="When Works app icon">
        <h3>When Works</h3>
      </div>

      <p>Meet without the back and forth.</p>

      <div class="buttons">
        <a href="https://itunes.apple.com/app/id1356360346?mt=8"><img src="/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Download When Works on the App Store"></a>
        <a href="https://when.works" class="button">Learn more ›</a>
      </div>

    </div>

    <div class="app">

      <img class="screenshot" src="/assets/medtracker.png" alt="MedTracker app">

      <div class="name">
        <img class="icon" src="/assets/medtracker-icon.png" alt="MedTracker app icon">
        <h3>MedTracker</h3>
      </div>

      <p>Keep track of your medications.</p>

      <div class="buttons">
        <a href="#"><img src="/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Download MedTracker on the App Store"></a>
        <a href="https://when.works" class="button">Learn more ›</a>
      </div>

    </div>

    <div class="app">

      <img class="screenshot" src="/assets/fluidics.png" alt="Fluidics app">

      <div class="name">
        <img class="icon" src="/assets/fluidics-icon.webp" alt="Fluidics app icon">
        <h3>Fluidics</h3>
      </div>

      <p>Easy, simple water tracking.</p>

      <div class="buttons">
        <a href="https://itunes.apple.com/app/id1330261345?mt=8"><img src="/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Download Fluidics on the App Store"></a>
      </div>

      <p class="note"><small><em>In partnership with Hijinx Development</em></small></p>

    </div>

  </div>

</section>

<section id="about">

  <h2>About Us</h2>

  <p>In faucibus semper iaculis. Vestibulum tempor tempor leo, at sollicitudin mauris. Cras neque ante, fringilla quis nunc a, vehicula dignissim tellus. Nullam gravida lorem in <a href="#">metus pretium</a>, in tristique justo imperdiet. Pellentesque et neque nulla. Etiam convallis, urna at tincidunt euismod, justo libero bibendum ligula, vitae pellentesque erat quam sit amet odio. Nulla vel vestibulum est.</p>

  <p>Nam vel dolor felis. Proin lacinia, odio nec euismod dictum, odio sem auctor tellus, sit amet commodo leo libero a justo. Fusce auctor luctus velit quis posuere. Sed sagittis posuere lectus, <strong>sit amet hendrerit</strong> urna aliquet eget. Vivamus sed diam a felis vestibulum lacinia sed quis massa. Nullam ante quam, consequat vel lacus sed, volutpat eleifend dui. Praesent viverra libero tellus, a consequat orci scelerisque id. Fusce pharetra ornare enim et scelerisque. Donec sed facilisis velit.</p>

  <ul class="people">

    <li><i class="fa fa-fw fa-bolt"></i> Ben</li>
    <li><i class="fa fa-fw fa-car"></i> David</li>
    <li><i class="fa fa-fw fa-headphones"></i> Dom</li>
    <li><i class="fa fa-fw fa-book"></i> Grey</li>
    <li><i class="fa fa-fw fa-rocket"></i> Izzy</li>
    <li><i class="fa fa-fw fa-leaf"></i> Madi</li>
    <li><i class="fa fa-fw fa-music"></i> Majd</li>
    <li><i class="fa fa-fw fa-bug"></i> Rose</li>

  </ul>

</section>

